In [2]:
path_bytes = b'/'
path_str = path_bytes.decode('utf-8')
print(path_str)

/

In [3]:
import os 
os.chdir('/')
os.chdir("/home/sudip/ml_projects/song_sug")
os.getcwdb()

b'/home/sudip/ml_projects/song_sug'

# THE CLEANING PART

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("data/raw/training.csv")
df.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    16000 non-null  str
 1   label   16000 non-null  int64
dtypes: int64(1), str(1)
memory usage: 250.1 KB

In [7]:
print(df['label'].unique())

[0 3 2 5 4 1]

In [ ]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [9]:
df['label'].value_counts()

label
1    5362
0    4666
3    2159
4    1937
2    1304
5     572
Name: count, dtype: int64